.paginationWrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: var(--font-main-size);
  padding: 2rem;

  button {
    border: none;
    font-size: var(--font-main-size);
    color: var(--main-light-color);
    background-color: var(--button-background-color);
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--button-hover-color);
      transition: 0.7s;
    }
  }

  .active {
    background-color: var(--button-hover-color);
    cursor: default;
    transition: 0.7s;
  }

  span {
    align-self: flex-end;
  }
}

.chevron {
  cursor: pointer;
}
