.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem 3rem 2rem;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid var(--main-text-color);
}

.logo {
  width: 8rem;
}

.searchWrapper {
  display: flex;
  gap: 1rem;
  max-width: 50rem;
  width: 100%;
  margin-left: 2rem;
}
