.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem 3rem 2rem;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid var(--main-text-color);
}

.logo {
  width: 8rem;
}

.searchWrapper {
  display: flex;
  gap: 1rem;
  max-width: 50rem;
  width: 100%;
  margin-left: 2rem;
  align-items: center;
}

.theme {
  cursor: pointer;
}

.link {
  width: 20rem;
  background-color: var(--button-background-color);
  color: var(--main-light-color);
  font-size: var(--font-medium-size);
  font-family: var(--font-family);
  border: none;
  padding: 1rem 0;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: var(--button-hover-color);
    transition: 0.3s;
  }
}
