.checkboxWrapper {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  font-family: var(--font-family-second);
  font-size: var(--font-main-size);
  border-top: 0.1rem solid var(--main-text-color);
  padding-top: 1rem;

  .checkbox {
    cursor: pointer;
  }
}
