@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --main-light-color: #fff;
  --main-text-color: #767676;
  --main-dark-color: #1a1a1a;
  --button-background-color: #b50938;
  --button-hover-color: #a30832;

  --input-focus-color: #949494;

  --font-main-size: 1.7rem;
  --font-medium-size: 1.8rem;
  --font-large-size: 2rem;
  --font-huge-size: 2.2rem;

  --font-family: 'Libertinus Math', system-ui;
  --font-family-second: 'Open Sans', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: 0;
}

html {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-main-color);
  position: relative;
  z-index: 10;
}
